  <div class="navbar-minimalist">
   <div class="btn btn-round">
    <%= link_to cocktails_path,
    class: "text-add" do %>
      <i class="fas fa-cocktail"></i>
    <% end %>
  </div>
 </div>
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.maennersache.de/cocktails,id=33d51656,b=maennersache,w=1100,rm=sk.jpeg);">
      <h1>Misses Cocktail!</h1>
      <p>Best cocktails for people who like to get drunk 💃.</p>
  </div>

  <div class="container">
    <h2>Menu</h2>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4 my-3 card-wrapper">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card">
              <%= cl_image_tag cocktail.photos.first.key, height: 150, width: 200, crop: :fill, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title mb-3"><%= cocktail.name %></h5>
                <%= link_to cocktail_path(cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "text-delete" do %>
                    <i class="fa fa-trash"></i> delete
                <% end %>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">

      <%= link_to new_cocktail_path,
      class: "text-add btn btn-ghost" do %>
        <i class="fas fa-plus"></i> add cocktail
      <% end %>

    </div>
  </div>


