<div class="navbar-minimalist">
 <div class="btn btn-round">
  <%= link_to cocktails_path, class: "text-add" do %>
    <i class="fas fa-cocktail"></i>
  <% end %>
</div>
</div>

<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photos.first.key %>);">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
    <h3>Ingredients:</h3>
  <div class="card" id="ingredients-card">
     <ol>
        <% @cocktail.doses.each do |dose| %>
      <li>
        <p class="dose">
          <%= "#{dose.ingredient.name} #{dose.description}"%>
        </p>
      </li>
    <% end %>
    </ol>
  </div>

<%= link_to cocktails_path,
  class: "btn btn-ghost" do %>
  back to menu
<% end %>

<%= link_to new_cocktail_dose_path(@cocktail),
  class: "btn btn-ghost"  do %>
  <i class="fas fa-plus"></i> add ingredient
<% end %>

